[submodule "angular-app"]
	path = angular-app
	url = https://github.com/poshvine-rzp/pv-single-spa-test/angular-app
[submodule "react-app"]
	path = react-app
	url = https://github.com/poshvine-rzp/pv-single-spa-test/react-app
[submodule "root-config"]
	path = root-config
	url = https://github.com/poshvine-rzp/pv-single-spa-test/root-config
